modules = ["nodejs-20", "python-3.11", "bash", "web", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
waitForPort = 8000

[[workflows.workflow]]
name = "Frontend App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd telegram_bot && python main.py"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33363
externalPort = 4200

[[ports]]
localPort = 34621
externalPort = 6800

[[ports]]
localPort = 35517
externalPort = 3000

[[ports]]
localPort = 35631
externalPort = 6000

[[ports]]
localPort = 40673
externalPort = 5000

[[ports]]
localPort = 41117
externalPort = 5173

[[ports]]
localPort = 43033
externalPort = 3001

[[ports]]
localPort = 43301
externalPort = 3002

[[ports]]
localPort = 46331
externalPort = 3003

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "rustc"]

[userenv]

[userenv.shared]
WEBAPP_URL = "https://1a48c395-754e-4055-901f-b7ac54280c46-00-dxt0dwlqj5r1.kirk.replit.dev"
TELEGRAM_BOT_URL = "http://localhost:3001"
NOTIFY_SECRET = "J0C3ifxeuJIvBRmQjSG1mFMMfilXYtLuGG1BwfyHalk"
TELEGRAM_BOT_TOKEN = "8341963067:AAEvJ_zi0RaXKiSjE9yVLGpeOtLjUAtpG08"
